.inputPassword {
    grid-area: inputPassword;

}
.inputAssigned {
    grid-area: inputAssigned;
}
.inputEmail{
    grid-area: inputEmail;
}
.Button {
    grid-area: Button;
}
.text {
    grid-area: text;
}
.senha {
    grid-area: senha;
}
.email {
    grid-area: email;
}
.nome {
    grid-area: nome;
}
.table {
    grid-area: table;
}
.Footer {
    grid-area: Footer;
}