.inputPassword {
    grid-area: inputPassword;

}
.inputAssigned {
    grid-area: inputAssigned;
}
.inputEmail{
    grid-area: inputEmail;
}
.Button {
    grid-area: Button;
}
#table {
    grid-area: table;
}
.Footer {
    grid-area: Footer;
}
.search-table {
    grid-area: search-table;
}
.description {
    grid-area: description;
}