
 body, html {
    height: 99%;
    color: rgb(255, 255, 255);
    background-image: linear-gradient( to right, rgb(0, 211, 183), rgb(0, 123, 155));
}
h3 {
    font-size: 15px;
    font-family: sans-serif;
}
.grid {
    display: grid;
}
.grid-table {
    justify-content: center;
    grid-template-columns: 85px 300px;
    grid-template-rows:  55px 55px 55px 60px;
    gap: 0.5rem;
    grid-template-areas: 
        "senha inputPassword"
        "empresa inputAssigned"
        "email inputEmail"
        ". Button"                                            
    ;
}

.grid-body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "search-table"
    "table"
    "Footer"
    ;
}
.input-text {
    box-shadow: 2px 1.5px rgb(46, 46, 46);
    border-width: 0;
    border-radius: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 0;
}

.Buttons {
    font-size: 15px;
    box-shadow: 2px 1.5px rgb(46, 46, 46);
    color: white;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(1, 171, 201);
    border-width: 0px;
    border-radius: 10px;
    cursor: pointer;
}

#Key-image {
    align-self: flex-end;
    bottom: 0;
    width: 300px;
    height: 300px;
}

footer {
    display: flex;
    justify-self: right;
}

li {
    margin-left: 5rem;
    position: absolute;
    display: flexbox;
    width: 200px;
}
.search-table {
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    grid-template-columns: 400px 40px;
    grid-template-rows: 40px;
    gap: 5px;
}

@media only screen and (max-width: 700px) {
    body {
        background-image: linear-gradient( to top, rgb(0, 211, 183), rgb(0, 123, 155));
    }
    .grid-body {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 1fr 1fr;
        grid-template-areas: 
        "."
        "table"
        "Footer"
        ;
    }

    .grid-table {
        justify-content: center;
        grid-template-columns: 200px;
        grid-template-rows: 45px 45px 45px 45px 45px 45px 55px;
        gap: 0;
        grid-template-areas: 
            "senha" 
            "inputPassword"
            "empresa"
            "inputAssigned"
            "email"
            "inputEmail"
            "Button"                                            
        ;
    }
    

    #Key-image {
        display: flex;
        align-self: flex-end;
        bottom: 0;
        width: 200px;
        height: 200px;
    }

    .Button {
        margin-top: 1rem;
    }

    .search-table {
        grid-template-columns: 200px 40px;
    }
  }

