body, html {
    display: flexbox;
    justify-items: center;
    overflow: hidden;
    height: 99%;
    color: rgb(255, 255, 255);
    background-image: linear-gradient( to right, rgb(212, 0, 255), rgb(41, 154, 247) );
}
h3 {
    font-size: 15px;
    font-family: sans-serif;
}
.description {
    justify-content: center;
    justify-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    display: grid;
    grid-template-columns: 140px 180px 140px;
}

hr {
    position: relative;
    background-color: white;
    width: 140px;
    height: 0px;
}
.grid {
    display: grid;
}
.grid-table {
    animation: enter-left 0.5s;
    display: flexbox;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 500px;
    grid-template-rows:  50px 55px 55px 55px 60px;
    gap: 0.7rem;
    grid-template-areas:
        "description" 
        "inputPassword"
        "inputAssigned"
        "inputEmail"
        "Button"                                            
    ;
}
.grid-body {
    animation: enter-left 0.5s;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    grid-template-areas:
    "."
    "table"
    "Footer"
    ;
}
.input-text {
    animation: enter 0.5s;
    width: 300px;
    box-shadow: 2px 1.5px rgb(46, 46, 46);
    border-width: 0;
    border-radius: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 0;
}
.search {
    animation: enter-right 0.5s;
    width: 200px;
    padding: 2px;
}
.Buttons {
    font-size: 15px;
    box-shadow: 2px 1.5px rgb(46, 46, 46);
    color: white;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: bold;
    background-image: repeating-linear-gradient(to right, rgb(0, 154, 192) , rgb(0, 195, 255));
    border-width: 0px;
    border-radius: 10px;
    cursor: pointer;
}
#searchButton {
    animation: enter-left 0.5s;
    width: 40px;
}
#putButton {
    animation: enter-left 0.5s;
    width: 300px;
}
#Key-image {
    animation: key-Right 120s;
    width: 400px;
    height: 400px;
}
.Key-image {
    position: absolute;
    bottom: 1px;
    right: 1px;
}
#Anim {
    left: 50px;
    bottom: 500px;
    position: absolute;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: azure;
    background-color: azure;
    border-radius: 50px;
    list-style: none;
    width: 400px;
    height: 120px;
    animation: go-back 1s;
}
#ShowTwo {
    left: 50px;
    bottom: 50px;
    position: absolute;
    font-size: 9px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    background-color: azure;
    border-radius: 50px;
    list-style: none;
    width: 400px;
    height: 120px;
    animation: go-back 1s;
}

hr {
    animation: enter-left 0.5s;
}
@keyframes go-back {
    
    20% {
        transform: translateX(30px)
    }
    60% {
        transform: translateY(500px);
    }
    100% {
        transform: translateY(440px);
    }
}
@Keyframes enter-higt{
    
    50% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(0);
    }
}
@keyframes key-Right {
    0% {
        transform: translateY( 100px);
    }
    2% {
        transform: translateY(-500px);
    }
    100% {
        transform: translateY(0);
    }
}
@Keyframes enter-left{
    0% {
        transform: translateY(400px);
    }
    100% {
        transform: translateY(0px);
    }
}
.search-table {
    animation: enter-left 0.5s;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    grid-template-columns: 200px 200px 40px;
    grid-template-rows: 40px;
    gap: 15px;
}

 #Hidden {
    visibility: hidden;  
}