
 body, html {
    height: 99%;
    color: rgb(255, 255, 255);
    background-image: linear-gradient( to right, rgb(0, 211, 183), rgb(0, 123, 155));
}
h3 {
    font-size: 15px;
    font-family: sans-serif;
}
.grid {
    display: grid;
}
.grid-table {
    justify-content: center;
    grid-template-columns: 300px;
    grid-template-rows:  55px 55px 55px 60px;
    gap: 0.5rem;
    grid-template-areas: 
        "inputPassword"
        "inputAssigned"
        "inputEmail"
        "Button"                                            
    ;
}

.grid-body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "search-table"
    "table"
    "Footer"
    ;
}
.input-text {
    box-shadow: 2px 1.5px rgb(46, 46, 46);
    border-width: 0;
    border-radius: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    outline: 0;
}

.Buttons {
    font-size: 15px;
    box-shadow: 2px 1.5px rgb(46, 46, 46);
    color: white;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgb(1, 171, 201);
    border-width: 0px;
    border-radius: 10px;
    cursor: pointer;
}

#Key-image {
    align-self: flex-end;
    bottom: 0;
    width: 300px;
    height: 300px;
}

footer {
    display: flex;
    justify-self: right;
}

li {
    list-style: none;
    margin-left: 5rem;
    position: absolute;
    display: flexbox;
    width: 200px;
}
.search-table {
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
    grid-template-columns: 200px 200px 40px;
    grid-template-rows: 40px;
    gap: 5px;
}
